/*Navigation Bar*/
.topnavbar {
    background-color:#242424;
    padding-right:20px;
}

/*Website Logo*/
.streetlogo {
    padding-top:5px;
    padding-left:5px;
    padding-bottom:4px;   
}

/*Dropdown header positioning*/
.dropstyle {
    padding-top:3px;
}

/*Dropdown header styling*/
.dropheads {
    color:white;
    font-family:'Open Sans';
    font-size:19px;
    font-weight:bold;
    margin-right:10px;
}

/*Dropdown menu background*/
.dropdown-menu {
    background-color:#242424;
}

/*Dropdown menu list styling*/
.dropliststyle {
    color:white;
    font-size:17px;
}

/*Dropdown caret styling*/
.caret {
    color:white;
}

/*Sponsor images section*/
.sponsorimages {
    border:3px solid #242424;
    background-color:#242424;
    height:40px;
}

.gtrmain {
    width:100%;
}


