/*Main page background*/
body {
  background-color: #242424;
}

/*Main Nav Components*/
.navbar {
  background: transparent;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid black;
  padding: 0;
}

/*streeTRACE logo*/
.streetlogo {
  padding-top: 2px;
  padding-left: 3px;
}

/*Nav dropdown spacing*/
.dropstyle {
  margin-right: 0.1px;
}

/*Dropdown header styling*/
.dropheads {
  color: #4f4f4f;
  font-family: 'Open Sans';
  font-size: 19px;
  font-weight: bold;
  margin-right: 10px;
}

/*Dropdown list styling*/
.dropliststyle {
  color: #4f4f4f;
  font-size: 17px;
}

/*Dropdown list background*/
.dropbackground {
  background: transparent;
  background-color: rgba(255,255,255,0.7);
}

/*GTR main page picture*/
.gtrmain {
  width: 100%;
  opacity: 0.8;
}

/*GTR image text overlay positioning*/
.wrap {
  margin: auto;
  position: relative;
}

.wrap img {
  width: 100%;
  height: auto;
  border: 1px solid #000;
}

.caption {
  position: absolute;
  top: 10px;
  left: 1px;
  right: 2;
  bottom: 0px;
  overflow: hidden;
}

.caption-inner {
  display: table;
  width: 100%;
  height: 100%;
}

.caption-content {
  display: table-cell;
  vertical-align: middle;
}

.caption-content h1 {
  margin: 430px 0px 0px 0px;
  background: rgba(255,255,255,0.4);
  padding: 10px;
}

/*Nextlevel image text overlay styling*/
.nextlevel {
  color: #242424;
  font-size: 43px;
  font-family: 'Helvetica';
  font-weight: bold;
}

/*Nextlevel image text overlay "racing" styling*/
.racing {
  color: #ED1C26;
  font-style: italic;
  font-weight: 1000;
}

/*Sponsor logo positioning*/
.sponsors1 {
  margin-top: 50px;
}

.sponsors2 {
  margin-top: 50px;
}

/*Speedhunters logo styling*/
.speedhunters {
  border: 2px solid #4f4f4f;
  border-top: none;
  border-left: none;
  border-right: none;
}

.speedhunters:hover {
  border-color: #ED1C26;
}

/*Motorhead logo styling*/
.motorhead {
  border: 2px solid #4f4f4f;
  border-top: none;
  border-left: none;
  border-right: none;
}

.motorhead:hover {
  border-color: #ED1C26;
}

/*Fi-exhaust logo styling*/
.fiexhaust {
  border: 2px solid #4f4f4f;
  border-top: none;
  border-left: none;
  border-right: none;
}

.fiexhaust:hover {
  border-color: #ED1C26;
}

/*Formula drift logo styling*/
.formuladrift {
  border: 2px solid #4f4f4f;
  border-top: none;
  border-left: none;
  border-right: none;
}

.formuladrift:hover {
  border-color: #ED1C26;
}

/*Forgiato logo styling*/
.forgiato {
  border: 2px solid #4f4f4f;
  border-top: none;
  border-left: none;
  border-right: none;
}

.forgiato:hover {
  border-color: #ED1C26;
}

/*Skyforged logo styling*/
.skyforged {
  border: 2px solid #4f4f4f;
  border-top: none;
  border-left: none;
  border-right: none;
}

.skyforged:hover {
  border-color: #ED1C26;
}

/*Website feature images section*/
.features {
  font-family: 'Open Sans';
  font-size: 17px;
  margin-top: 90px;
}

/*Car builds feature image and text overlay styling*/
.subiefeature {
  opacity: 0.9;
}

.buildsfeature {
  position: relative;
  border: 1px solid black;
  background-color: black;
}

.buildsfeature:hover {
  box-shadow: 0 0 10px #ccc; 
}

.buildsheader {
  color: #fff;
  text-align: center;
  position: absolute;
  background-color: rgba(15, 15, 15, 0.93);
  bottom: 0px;
  width: 100%;
  padding: 10px 5px 10px 5px;
}

/*Car parts feature image and text overlay styling*/
.enginefeature {
  opacity: 0.9;
}

.partsfeature {
  position: relative;
  border: 1px solid black;
  background-color: black;
}

.partsfeature:hover {
  box-shadow: 0 0 10px #ccc;
}

.partsheader {
  color: #fff;
  text-align: center;
  position: absolute;
  background-color: rgba(15, 15, 15, 0.93);
  bottom: 0px;
  padding: 10px 5px 10px 5px;
  width: 100%;
}

/*Guides feature image and text overlay styling*/
.stickfeature {
  opacity :0.9;
}

.guidesfeature {
  position: relative;
  border: 1px solid black;
  background-color: black;
}

.guidesfeature:hover {
  box-shadow: 0 0 10px #ccc;
}

.guidesheader {
  position: absolute;
  background-color: rgba(15, 15, 15, 0.93);
  color: #fff;
  bottom: 0px;
  text-align: center;
  padding: 10px 5px 10px 5px;
  width: 100%;
}

/*Racing map feature image and text overlay styling*/
.racingfeature {
  opacity: 0.8;
}

.mapsfeature {
  position: relative;
  border: 1px solid black;
  background-color: black;
}

.mapsfeature:hover {
  box-shadow: 0 0 10px #ccc;
}

.mapsheader {
  color: #fff;
  text-align: center;
  position: absolute;
  background-color: rgba(15, 15, 15, 0.93);
  width: 100%;
  bottom: 0px;
  padding: 10px 5px 10px 5px;
}

/*Horizontal lines*/
.horizontalOne {
  border: 3px solid black;
  margin-top: 70px;
 
}

.horizontalTwo {
  border: 3px solid black;
  margin-top: 50px;
}

/*Start of vote build section*/
.voteday {
  padding-top: 10px;
}

/*Ferrari 458 car vote section*/
.italia458 {
  border: 6px solid black;
}

.votesection {
  margin-top: 35px;
}

.votesquares {
  margin-top: 1px;
}

.squareOne {
  width: 100%;
  height: 100%;
  position: relative;
}

.vote1 {
  width: 100%;
  height: 78%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: black;
  top: 0;
  left: 0;
  background-size: 100% auto;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.vote1 .italiastyle {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 20px;
  left: 0;
}

.vote1 img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  transition: opacity 0.35s, transform 0.35s;
}

.vote1:hover img {
  opacity: 0.4;
}

.vote1 h2 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  padding: 18px 50px 13px 50px;
  background-color: rgba(15,15,15,0.85);
  width: 100%;
  font-size: 22px;
  bottom: 0px;
  font-weight: 300;
  font-family: 'Helvetica';
  border-left: none;
  border-right: none;
}

.vote1 p {
  color: green;
  opacity: 0;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.vote1:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
  color: green;
}

.voteitalia {
  font-size: 30px;
  font-family: 'Helvetica';
  padding-top: 100px;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

/*Nissan GTR car vote section*/
.r35gtr {
  border: 6px solid black;
}

.squareTwo {
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
  width: 100%;
  height: 100%;
  position: relative;
}

.vote2 {
  width: 100%;
  height: 78%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: black;
  top: 0;
  left: 0;
  background-size: 100% auto;
}

.vote2 .gtrstyle {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  bottom: 20px;
  left: 0;
}

.vote2 img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  transition: opacity 0.35s, transform 0.35s;
}

.vote2:hover img {
  opacity: 0.4;
}
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files

.vote2 h2 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  padding: 15px 50px 13px 50px;
  background-color: rgba(15,15,15,0.50);
  width: 100%;
  font-size: 22px;
  bottom: 0px;
  font-weight: 300;
  font-family: 'Helvetica';
  border-left: none;
  border-right: none;
}

.vote2 p {
  color: green;
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
}

.vote2:hover p {
  opacity: 1;
  transform: translate3d(0,0,0);
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.votegtr {
  font-size: 30px;
  font-family: 'Helvetica';
  padding-top: 100px;
}

/*Vote modal styling*/
.modal {
  text-align: center;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  border: 5px solid black;
  display: inline-block;
  text-align: middle;
  vertical-align: middle;
}

.modal-body {
  font-size: 15px;
  font-family: 'Helvetica';
  color: black;
}

.modal-footer {
  text-align: center;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.btn-default {
  font-size: 13px;
  border: 1px solid black;
}

/*Race map header styling*/
.raceHead {
  color: white;
  font-size: 27px;
  font-family: 'Helvetica';
  text-align: center;
  margin-top: 28px;
}

#map {
  border: 15px solid black;
  margin-top: 30px;
}

#floating-panel {
  margin-top: 35px;
  margin-right: 90px;
}

/*Top racer scoreboard section styling*/
.topScores {
  padding-bottom:20px;
}

.topracers {
  margin-top: 20px;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.scoreboard {
  margin-top: 20px;
}

/*G37 top racer section*/
.statsOne {
  width: 100%;
  height: 78%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: black;
  top: 0;
  left: 0;
  background-size: 100% auto;
  border: 9px solid black;
}

.statsOne .g37Style {
  width: 100%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  bottom: 44px;
  left: 0;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.statsOne img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  opacity: 1;
  transition: opacity 0.35s, transform 0.35s;
}

.statsOne:hover img {
  opacity: 0.6;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.statsOne h3 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  padding: 8px 50px 8px 50px;
  background-color: rgba(15,15,15,0.85);
  width: 100%;
  font-size: 19px;
  bottom: 0px;
  font-weight: 300;
  font-family: 'Helvetica';
  border-left: none;
  border-right: none;
}

.statsOne p {
  color: #FFF;
  opacity: 0;
  text-align: left;
  padding-top: 10px;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.statsOne:hover p {
  opacity: 10;
  transform: translate3d(0,0,0);
}

.viewOne {
  font-size: 20px;
  font-family: 'Helvetica';
}

/*M4 top racer section*/
.statsTwo {
  width: 100%;
  height: 78%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: black;
  top: 0;
  left: 0;
  background-size: 100% auto;
  border: 9px solid black;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.statsTwo .m4Style {
  width: 100%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  bottom: 44px;
  left: 0;
}

.statsTwo img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  opacity: 0.8;
  transition: opacity 0.35s, transform 0.35s;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.statsTwo:hover img {
  opacity: 0.5;
}

.statsTwo h3 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  padding: 8px 50px 8px 50px;
  background-color: rgba(15,15,15,0.85);
  width: 100%;
  font-size: 19px;
  bottom: 0px;
  font-weight: 300;
  font-family: 'Helvetica';
  border-left: none;
  border-right: none;
}

.statsTwo p {
  color: #FFF;
  opacity: 0;
  text-align: left;
  padding-top: 10px;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
}

.statsTwo:hover p {
  opacity: 10;
  transform: translate3d(0,0,0);
}

.viewTwo {
  font-size: 20px;
  font-family: 'Helvetica';
}

/*Porsche top racer section*/
.statsThree {
  width: 100%;
  height: 78%;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: black;
  top: 0;
  left: 0;
  background-size: 100% auto;
  border: 9px solid black;
}

.statsThree .porscheStyle {
  width: 100%;
  height: 90%;
  position: absolute;
  overflow: hidden;
  bottom: 44px;
  left: 0;
}
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files

.statsThree img {
  display: block;
  position: relative;
  max-width: none;
  width: 100%;
  opacity:1;
  transition: opacity 0.35s, transform 0.35s;
}

.statsThree:hover img {
  opacity: 0.6;
}

.statsThree h3 {
  color: #fff;
  text-align: center;
  font-size: 17px;
  overflow: hidden;
  padding: 8px 50px 8px 50px;
  background-color: rgba(15,15,15,0.85);
  width: 100%;
  font-size: 19px;
  bottom: 0px;
  font-weight: 300;
  font-family: 'Helvetica';
  border-left: none;
  border-right: none;
}

.statsThree p {
  color: #FFF;
  opacity: 0;
  text-align: left;
  padding-top: 10px;
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(100%,0,0);
}

.statsThree:hover p {
  opacity: 10;
  transform: translate3d(0,0,0);
}

.viewThree {
  font-size: 20px;
  font-family: 'Helvetica';
}

/*Social media section*/
.socialmedia {
  margin-top:40px;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}

.followus {
  margin-top: 20px;
}

.socialicons {
  margin-top: 50px;
}

/*Facebook icon section*/
.fbicon {
  color: #ED1C26;
  font-size: 80px;
}

.fbheader {
  font-family: 'Open Sans';
  font-size: 25px;
  color: white;
}

.fbtext {
  font-size: 15px;
  font-family: 'Open Sans';
  color: white;
}

/*Youtube icon section*/
.tubeicon {
  color: #ED1C26;
  font-size: 80px;
}

.tubeheader {
  font-family: 'Open Sans';
  font-size: 25px;
  color: white;
}

.tubetext {
  font-family: 'Open Sans';
  font-size: 15px;
  color: white;
}

/*Instagram icon section*/
.instaicon {
  color: #ED1C26;
  font-size: 80px;
}

.instaheader {
  font-family: 'Open Sans';
  font-size: 25px;
  color: white;
}

.instatext {
  font-family: 'Open Sans';
  font-size: 15px;
  color: white;
<<<<<<< HEAD
>>>>>>> cde9aa2c6fd6cc1a6d0343eefd886e805933c451
=======
>>>>>>> 2c82ef9... Re-added original html and css files
}












